.card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.card-item {
  margin: 10px 0;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}

.card-item .value {
  font-weight: bold;
  color: #007bff;
}

.card-item:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 8px;
}

.join-pool-btn {
  background-color: rgb(64, 64, 247);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.join-pool-btn:hover {
  background-color: #4193f8;
}
