.homepage {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 3rem;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../../assets/homecover.jpg);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 60vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

@media (max-width: 51.5) {
  .hero img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 769px) {
  .homepage {
    flex-direction: column;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  margin-top: 4rem;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 30px;
}

.about {
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.about-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #4caf50;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.about-description {
  flex: 1;
  font-size: 2rem;
  line-height: 1.8;
}

.about-description p {
  margin-bottom: 15px;
}

.about-video {
  flex: 1;
  text-align: center;
}

.about-video iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse;
  }

  .about-video iframe {
    height: 200px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .about-title {
    font-size: 1.8rem;
  }
}
